.btn-wrapper button {
  background-color: red;
  border: 0px;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  box-shadow: #333 0px 1px 5px;    margin-top: 66px;
  cursor: pointer;
}
.img-wrapper img {
  width: 133px;
  margin-top: 15px;
}
.cart-wrapper{
  height: 200px;
    width: 500px;
    border: 10px solid rgb(216, 176, 176);
    margin-left: 10%;
}
.item {
  float: left;
  display: inline-block;
  width: 120px;
  padding: 10px;
  height: 70px;
}
.add-to-cart img{
  width: 80px;
    position: absolute;
    right: 1%;
    top: 1%;
}
.cart-count{
  
    position: absolute;
    right: 10px;
    top: 12px;
    z-index: 1;
    background-color: red;
    padding: 7px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
}